
<head>
<link rel="stylesheet" type="text/css" href="style.css">
<link rel="stylesheet" type="text/css" href="reset.css">
<title>Wine and Dash - The One Place to Plan your Wine Visits.</title>
</head>



<body>
	This is my layout page
</body>

<%= yield %>